/* ===== Variables ===== */
:root {
  --color-primario: #1999cc;
  --color-texto: #000;
  --color-fondo: #ffffff;
  --fuente-base: 'Segoe UI', sans-serif;
}


/* ===== Reset / Base ===== */
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    body { font-family: var(--fuente-base); color: var(--color-texto); }
    a { text-decoration: none; color: inherit; } /* inherit hace que un elemento adopta exactamente el color de texto de su elemento padre*/



}


/* ===== Header / Nav ===== */

.nav{
    display: flex; /*para que todos los elemnos se ordenen en horizontal*/
    justify-content: center;/* Centra los hijos */
    height: 60px;
    align-items: center;
    background-color: var(--color-primario);
    padding: 40px;

}
.nav__logo{
    width: 40px;
    height: 40px;
    margin: 5px 20px;;
    transition: 0.1s;

}
.nav__logo:hover{
    transform: scale(1.5);
}

.nav__link{
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
    transition: 0.3s;
}
.nav__link:hover{
    transform: scale(1.2);
}





/* ===== Cards de producto ===== */





/* ===== Footer ===== */


.footer{
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between; /* Distribuye los elementos hijos de un contenedor flexible de forma equitativa */
    align-items: center;            /* centrados verticalmente */
    width: 100%;
    padding: 30px 60px;
}
.footer__copyright{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer__social{
    display: flex;
    flex-direction: column;  
    align-items: center;
}
.footer__social-icon{
    width: 40px;
    height: 40px;
    margin: 5px;
    transition: 0.2s;
}
.footer__social-icon:hover{
    transform: scale(1.2);
}